<!-- Newsletter -->
@model FamousHumidors.Models.NewsletterModel

@{ 
    String style = "";
    String msg = "";

    if (Model.Email != "" && Model.Email != null)
    {
        if (Model.Valid())
        {
            style = "border: thin solid green;";
            msg = "Subscription successful! Hack Value: " + @Model.Hack;
        }
        else
        {
            style = "border: thin solid red;";
            msg = "Email Invalid :( Hack Value: " + @Model.Hack;
        }
    }
}

<div id="newsletter_partial" style="@style" class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
                    <h4>Newsletter</h4>
                    <p>Subscribe to our newsletter and get 20% off your first purchase</p>
                    <p>@msg</p>
                </div>
            </div>
            <div class="col-lg-6">
                <form id="newsletter_form" action="#">
                    @Html.AntiForgeryToken()
                    <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
                        <input id="newsletter_email" type="email" placeholder="Your email" required="required" data-error="Valid email is required." value="@Model.Email">
                        <input id="newsletter_hack" type="hidden" placeholder="Your hack" value="Hacked">
                        <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
