@*@using PagedList;
    @using PagedList.Mvc;
    @using FamousHumidors.Models;*@
@*@model PagedList<ItemModel>*@

@using FamousHumidors.Models
@using FamousHumidors.ViewModels
@model FamousHumidors.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Shop Famous Humidors";
}

<link rel="stylesheet" type="text/css" href="/Content/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="/Content/styles/categories_responsive.css">
@*<link rel="stylesheet" type="text/css" href="/Content/PagedList.css">*@

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/search"><i class="fa fa-angle-right" aria-hidden="true"></i>Shop</a></li>
                </ul>
            </div>

            <!-- Sidebar -->

            <div class="sidebar">
                <!-- Category Filtering -->
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Category</h5>
                    </div>
                    <ul class="sidebar_categories">
                        @for(int i=1; i <= Model.Filters.CategoryFilters.Filters.Count(); i++)
                        {
                            if(@Model.Filters.CategoryFilters.Filters[i].Name == Model.Filters.CategoryFilters.Name)
                            {
                                <li class="active"><a href="@Model.Filters.CategoryFilters.Filters[i].Url"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>@Model.Filters.CategoryFilters.Filters[i].Name</a></li>
                            }
                            else
                            {
                                <li><a href="@Model.Filters.CategoryFilters.Filters[i].Url">@Model.Filters.CategoryFilters.Filters[i].Name (@Model.Filters.CategoryFilters.Filters[i].Count)</a></li>
                            }
                        
                        }
                        @*<li class="active"><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Humidors</a></li>
                        <li><a href="#">Hygrometers</a></li>
                        <li><a href="#">Liquids</a></li>
                        <li><a href="#">Ash Trays</a></li>
                        <li><a href="#">Lighters</a></li>
                        <li><a href="#">Butane</a></li>*@
                    </ul>
                </div>

                <!-- Price Range Filtering -->
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Price</h5>
                    </div>
                    <ul class="sidebar_categories">
                        @for(int i=1; i <= Model.Filters.PriceFilters.Filters.Count(); i++)
                        {
                            if(@Model.Filters.PriceFilters.Filters[i].Name == @Model.Filters.PriceFilters.Name)
                            {
                                <li class="active"><a href="@Model.Filters.PriceFilters.Filters[i].Url"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>@Model.Filters.PriceFilters.Filters[i].Name</a></li>
                            }
                            else
                            {
                                <li><a href="@Model.Filters.PriceFilters.Filters[i].Url">@Model.Filters.PriceFilters.Filters[i].Name (@Model.Filters.PriceFilters.Filters[i].Count)</a></li>
                            }
                        
                        }
                    </ul>
                </div>
                
                <!-- Sizes -->
                @if(Model.Filters.CategoryFilters.Name == "Humidors")
                {
                    <div class="sidebar_section">
                        <div class="sidebar_title">
                            <h5>Size</h5>
                        </div>
                        <ul class="sidebar_categories">
                            @for(int i=1; i <= Model.Filters.HumidorSizeFilters.Filters.Count(); i++)
                            {
                                if(@Model.Filters.HumidorSizeFilters.Filters[i].Name == @Model.Filters.HumidorSizeFilters.Name)
                                {
                                    <li class="active"><a href="@Model.Filters.HumidorSizeFilters.Filters[i].Url"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>@Model.Filters.HumidorSizeFilters.Filters[i].Name</a></li>
                                }
                                else
                                {
                                    <li><a href="@Model.Filters.HumidorSizeFilters.Filters[i].Url">@Model.Filters.HumidorSizeFilters.Filters[i].Name (@Model.Filters.HumidorSizeFilters.Filters[i].Count)</a></li>
                                }
                        
                            }
                        </ul>
                    </div>
                }

                <!-- Color -->
                @if (Model.Filters.CategoryFilters.Name == "Lighters")
                {
                    <div class="sidebar_section">
                        <div class="sidebar_title">
                            <h5>Color</h5>
                        </div>
                        <ul class="sidebar_categories">
                            @for (int i = 1; i <= Model.Filters.ColorFilters.Filters.Count(); i++)
                            {
                                if (@Model.Filters.ColorFilters.Filters[i].Name == @Model.Filters.ColorFilters.Name)
                                {
                                    <li class="active"><a href="@Model.Filters.ColorFilters.Filters[i].Url"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>@Model.Filters.ColorFilters.Filters[i].Name</a></li>
                                }
                                else
                                {
                                    <li><a href="@Model.Filters.ColorFilters.Filters[i].Url">@Model.Filters.ColorFilters.Filters[i].Name (@Model.Filters.ColorFilters.Filters[i].Count)</a></li>
                                }

                            }
                        </ul>
                    </div>
                }
            </div>
            <!-- Main Content -->

            <div class="main_content">

                <!-- Products -->

                <div class="products_iso">
                    <div class="row">
                        <div class="col">
                            @if(ViewBag.ErrorMessage != "")
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.ErrorMessage
                                </div>
                            }

                            <!-- Product Sorting -->
                            @if (ViewBag.ErrorMessage == "")
                            {
                                <div class="product_sorting_container product_sorting_container_top">
                                    <ul class="product_sorting">
                                        <li>
                                            <span>Sort By</span>
                                            <span class="num_sorting_text">@Html.DisplayFor(modelItem => Model.Sorting.Filters[Model.Sorting.Id].Name) 
                                                @if (Model.Sorting.Filters[Model.Sorting.Id].EqualityValue == "priceDesc" || Model.Sorting.Filters[Model.Sorting.Id].EqualityValue == "nameDesc")
                                                {
                                                    <i class="fa fa-arrow-down" style="float:none;" aria-hidden="true"></i> 
                                                }
                                                else if (Model.Sorting.Filters[Model.Sorting.Id].EqualityValue == "priceAsc" || Model.Sorting.Filters[Model.Sorting.Id].EqualityValue == "nameAsc")
                                                {
                                                    <i class="fa fa-arrow-up" style="float:none;" aria-hidden="true"></i> 
                                                }
                                            </span>
                                            <i class="fa fa-angle-down"></i>
                                            <ul class="sorting_num">
                                                @for (var i = 1; i <= Model.Sorting.Filters.Count(); i++)
                                                {
                                                    <li class="num_sorting_btn">
                                                        <a href="@Model.Sorting.Filters[i].Url">
                                                            <span>
                                                                @Model.Sorting.Filters[i].Name 
                                                                @if (Model.Sorting.Filters[i].EqualityValue == "priceDesc" || Model.Sorting.Filters[i].EqualityValue == "nameDesc")
                                                                {
                                                                    <i class="fa fa-arrow-down" style="float:none;" aria-hidden="true"></i> 
                                                                }
                                                                else if (Model.Sorting.Filters[i].EqualityValue == "priceAsc" || Model.Sorting.Filters[i].EqualityValue == "nameAsc")
                                                                {
                                                                    <i class="fa fa-arrow-up" style="float:none;" aria-hidden="true"></i> 
                                                                }
                                                            </span>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                        <li>
                                            <span>Show</span>
                                            <span class="num_sorting_text">@Html.DisplayFor(modelItem => Model.Paging.ResultsPerPage)</span>
                                            <i class="fa fa-angle-down"></i>
                                            <ul class="sorting_num">
                                                <li class="num_sorting_btn"><a href="@Model.Paging.ResultsPerPageUrls[8]"><span>8</span></a></li>
                                                <li class="num_sorting_btn"><a href="@Model.Paging.ResultsPerPageUrls[16]"><span>16</span></a></li>
                                                <li class="num_sorting_btn"><a href="@Model.Paging.ResultsPerPageUrls[24]"><span>24</span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                               
                                    <div class="pages d-flex flex-row align-items-center">
                                        @if (Model.Paging.Page > 1)
                                        {
                                            <div id="next_page" class="page_next"><a href="@Html.DisplayFor(modelItem => Model.Paging.PrevPageUrl)"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></div>

                                        }
                                    
                                        <div class="page_current">
                                            <span>@Html.DisplayFor(modelItem => Model.Paging.Page)</span>
                                       
                                            <ul class="page_selection">
                                                
                                                @if(Model.Paging.Page < 3)
                                                {
                                                    <li><a href="@Html.DisplayFor(modelItem => Model.Paging.NextPageUrl)">@Html.DisplayFor(modelItem => Model.Paging.NextPage)</a></li>
                                                }
                                                else
                                                {
                                                    <li><a href="@Html.DisplayFor(modelItem => Model.Paging.FirstPageUrl)">@Html.DisplayFor(modelItem => Model.Paging.FirstPage)</a></li>
                                                }
                                                <li><a href="#">...</a></li>
                                             
                                                @if (Model.Paging.MidPage != Model.Paging.NextPage && Model.Paging.Page != Model.Paging.LastPage && Model.Paging.MidPage != Model.Paging.Page)
                                                {
                                                    <li><a href="@Html.DisplayFor(modelItem => Model.Paging.MidPageUrl)">@Html.DisplayFor(modelItem => Model.Paging.MidPage)</a></li>
                                                    <li><a href="#">...</a></li>
                                                }
                                                <li><a href="@Html.DisplayFor(modelItem => Model.Paging.LastPageUrl)">@Html.DisplayFor(modelItem => Model.Paging.LastPage)</a></li>
                                            
                                            </ul>
                                        </div>
                                        <div class="page_total"><span>of</span>@Html.DisplayFor(modelItem => Model.Paging.NumberOfPages)</div>
                                         @if (Model.Paging.Page < Model.Paging.NumberOfPages)
                                         {
                                            <div id="next_page" class="page_next"><a href="@Html.DisplayFor(modelItem => Model.Paging.NextPageUrl)"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                                         }
                                    </div>

                                </div>
                            }

                            <!-- Product Grid -->
                            @if (ViewBag.ErrorMessage == "")
                            {
                                <div class="product-grid">
                                    @if (Model.Paging.NumberOfItems > 0)
                                    {
                                        foreach (var item in Model.Items)
                                        {
                                            <div class="product-item">
                                                <a href="@Html.DisplayFor(modelItem => item.Url)">
                                                <div class="product discount product_filter">
                                                    <div class="product_image">
                                                        <img src="https://www.famous-smoke.com/@Html.DisplayFor(modelItem => item.Image)" alt="">
                                                    </div>
                                                    <div class="favorite favorite_left"></div>
                                                    @if (item.Price + 1 < item.PriceMsrp)
                                                    {
                                                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$@String.Format("{0:N0}", item.PriceMsrp - item.Price)</span></div>
                                                    }
                                                    <div class="product_info">
                                                        <h6 class="product_name">@Html.DisplayFor(modelItem => item.Name)</h6>
                                                        <div class="product_price">
                                                            $@Html.DisplayFor(modelItem => item.Price)
                                                            @if (item.PriceMsrp >= item.Price + 1)
                                                            {
                                                                <span>$@Html.DisplayFor(modelItem => item.PriceMsrp)</span>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                </a>
                                                <div class="red_button add_to_cart_button"><a href="/cart?id=@Html.DisplayFor(modelItem => item.Id)">add to cart</a></div>
                                            </div>
                                        }
                                    }
                                </div>
                            }

                            <!-- Product Sorting -->
                            @if(ViewBag.ErrorMessage == "") { 
                                <div class="product_sorting_container product_sorting_container_bottom clearfix">
                                    <span class="showing_results">Showing @Html.DisplayFor(modelItem => Model.Paging.FirstItem)–@Html.DisplayFor(modelItem => Model.Paging.LastItem) of @Html.DisplayFor(modelItem => Model.Paging.NumberOfItems) results</span>
                                
                                    <div class="pages d-flex flex-row align-items-center">
                                        @if(Model.Paging.Page > 1)
                                        {
                                            <div id="next_page" class="page_next"><a href="@Html.DisplayFor(modelItem => Model.Paging.PrevPageUrl)"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></div>

                                        }
                                    
                                        <div class="page_current">
                                            <span>@Html.DisplayFor(modelItem => Model.Paging.Page)</span>
                                       
                                            <ul class="page_selection">
                                                 
                                                @if(Model.Paging.Page < 3)
                                                {
                                                    <li><a href="@Html.DisplayFor(modelItem => Model.Paging.NextPageUrl)">@Html.DisplayFor(modelItem => Model.Paging.NextPage)</a></li>
                                                }
                                                else
                                                {
                                                    <li><a href="@Html.DisplayFor(modelItem => Model.Paging.FirstPageUrl)">@Html.DisplayFor(modelItem => Model.Paging.FirstPage)</a></li>
                                                }
                                                <li><a href="#">...</a></li>
                                               
                                                @if(Model.Paging.MidPage != Model.Paging.NextPage && Model.Paging.Page != Model.Paging.LastPage && Model.Paging.MidPage != Model.Paging.Page)
                                                {
                                                    <li><a href="@Html.DisplayFor(modelItem => Model.Paging.MidPageUrl)">@Html.DisplayFor(modelItem => Model.Paging.MidPage)</a></li>
                                                    <li><a href="#">...</a></li>
                                                }
                                                <li><a href="@Html.DisplayFor(modelItem => Model.Paging.LastPageUrl)">@Html.DisplayFor(modelItem => Model.Paging.LastPage)</a></li>
                                            
                                            </ul>
                                        </div>
                                        <div class="page_total"><span>of</span>@Html.DisplayFor(modelItem => Model.Paging.NumberOfPages)</div>
                                         @if (Model.Paging.Page < Model.Paging.NumberOfPages)
                                         {
                                            <div id="next_page" class="page_next"><a href="@Html.DisplayFor(modelItem => Model.Paging.NextPageUrl)"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                                         }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Content/plugins/jquery-ui-1.12.1.custom/jquery-ui.js")
@Scripts.Render("~/Scripts/theme/categories_custom.js")